.orange {
    color: rgb(244, 35, 0);
}

.navbar{
    position: absolute;
    z-index: 10000;
    background-color: transparent;
    border: none;
    right: 0;
    padding: 1em;
}

.navbar-default .navbar-nav>li>a{
    color:black;
    border-bottom: solid 2px #F22E10;
    padding-bottom: 4px;
}

.navbar-default .navbar-nav>li>a:hover{
    color:#F22E10;
}

#tagline {
    position: absolute;
    width: 100vw;
    padding: 5em;
    z-index: 100;
}


#bg-image {
    background-image: url(/img/snowmountain.jpg);
    height: 100vh;
    background-size: cover;
}

#bg-text {
    background-color: rgba(128, 156, 152, 0.3);
}

/****************work page*******************************/
#work #myCarousel{
   height: 100vh;
   overflow: hidden;
}

#work #myCarousel img{
    width: 100vw;
}
